@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-quill/dist/quill.snow.css";

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 5%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 5%;

    --primary: 184 100% 34%;
    --primary-foreground: 0 0% 2%;

    --secondary: 0 0% 96%;
    --secondary-foreground: 0 0% 5%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;

    --accent: 0 0% 96%;
    --accent-foreground: 0 0% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 92%;
    --input: 0 0% 85%;
    --ring: 0 0% 76%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 180 7% 8%;
    --foreground: 180 9% 98%;

    --card: 180 6% 10%;
    --card-foreground: 180 9% 98%;

    --popover: 180 6% 10%;
    --popover-foreground: 180 9% 98%;

    --primary: 184 100% 34%;
    --primary-foreground: 240 9% 2%;

    --secondary: 188 8% 19%;
    --secondary-foreground: 180 9% 98%;

    --muted: 180 7% 29%;
    --muted-foreground: 183 8% 49%;

    --accent: 183 71% 19%;
    --accent-foreground: 180 9% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 180 8% 12%;
    --input: 187 9% 18%;
    --ring: 184 100% 40%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.scrolling-text {
  @apply overflow-hidden whitespace-nowrap relative;
  animation: scrolling 30s linear infinite;
}

.rbc-toolbar-label {
  font-size: 1.5em; /* Change font size */
  font-weight: bold; /* Make the text bold */
}

@media (max-width: 768px) {
  .rbc-calendar {
    height: 60vh !important;
  }

  .rbc-toolbar-label {
    font-size: 1.2em; /* Change font size */
    font-weight: bold; /* Make the text bold */
  }
}

/* @media (max-width: 480px) {
  .calendar-container {
    height: 45vh;
  }
} */

.manager-cal .rbc-month-view {
  padding: 0 !important;
}
.manager-cal .rbc-toolbar {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  gap: 4px;
}
.manager-cal .rbc-label {
  display: flex;
  justify-content: flex-end;
}
.manager-cal .rbc-calendar {
  display: flex;
  align-items: center;
}

@keyframes scrolling {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.preview h1 {
  @apply text-2xl font-bold;
}
.preview h2 {
  @apply text-xl font-semibold;
}
.preview h3 {
  @apply text-lg;
}

.preview {
  list-style: auto !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

input[type="radio"]:checked {
  background-color: blue !important;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
* {
  font-family: "Calibri" !important;
}

.gradinet {
  background: linear-gradient(45deg, #2196f3, #00bcd4);
  -webkit-background-clip: text;
  color: transparent;
  font-weight: bold;
  text-align: center;
}

.bluegrad {
  background: rgb(3, 61, 215);
  background: linear-gradient(
    83deg,
    rgba(3, 61, 215, 1) 2%,
    rgba(2, 96, 255, 1) 37%,
    rgba(0, 212, 255, 1) 100%
  );
}

.bg__gradient {
  /* height: 800px;
  width: 800px; */
  background-image: linear-gradient(
    90deg,
    #34ebcc,
    #34d5eb,
    #34a8eb,
    #346beb,
    #3734eb,
    #7734eb,
    #a834eb,
    #7734eb,
    #3734eb,
    #346beb,
    #34a8eb,
    #34d5eb,
    #34ebcc
  );

  filter: blur(300px);
  border-radius: 100%;
  background-size: 1000% 100%;
  animation: gradient 10s infinite ease-out;
  position: absolute;
  transform: translateX(-50%) translateY(0%);

  z-index: -1;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

:root {
  --primary-color: #0e1630; /* Replace #FF0000 with your desired color value */
  --secondary-color: #1d6eb7; /* Replace #FF0000 with your desired color value */
}

ul {
  padding: 0 !important;
}
#root {
  height: 100%;
}
a {
  text-decoration: none;
  color: black;
}
*::-webkit-scrollbar-track {
  border-radius: 10px;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.hor-scroll::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

body {
  color: black;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.dlink {
  text-decoration: none !important;
  color: #03a9f3 !important;
}

.data-table-extensions-filter {
  border: 0.5px solid #eee;
  padding: 2px;
  border-radius: 5px;
  width: 50%;
  display: flex;
  align-items: center;
}

.first {
  padding-right: 10px !important;
}

.filter-text {
  border: none !important;
  width: 80%;
}

.react-tel-input .form-control {
  @apply !w-full py-6 !text-base;
}

.opt-container {
  @apply flex justify-between gap-2;
}
.opt-container input {
  @apply !mr-0 flex-1 py-5 outline-none;
}
.container-2 {
  position: relative;
}

/* Animation  */
.preloader1Bg {
  position: absolute;
  z-index: 10;
  top: 25%;
  width: 100%;
  height: 100%;
  text-align: center;
}

.preloader1 {
  margin: auto;
  background-size: 225px;
  width: 250px;
  height: 250px;
}

.SetupSection {
  opacity: 0;
  visibility: hidden;
  animation: animateSetup 0.5s forwards;
}

@keyframes animateSetup {
  0% {
    transform: translateX(5%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
  }
}

.envelope-main {
  position: absolute;
  display: inline-block;
  height: 155px;
  width: 200px;
  background: #0060ff;
  margin: 0 auto;
  left: 0;
  right: 0;
  border: 5px solid #014fcc;
  z-index: 0;
}

.envelope-left {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-left: 100px solid #3e84f7;
  margin: 0 auto;
  left: -100px;
  right: 0;
  z-index: 2;
}

.envelope-right {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-top: 75px solid transparent;
  border-bottom: 75px solid transparent;
  border-right: 100px solid #3e84f7;
  margin: 0 auto;
  left: 100px;
  right: 0;
  z-index: 2;
}

.envelope-bottom {
  position: absolute;
  display: inline-block;
  height: 80px;
  width: 200px;
  background: #3178ef;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 2;
  top: 75px;
}

.envelope-top {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 90px solid #0060ff;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  z-index: 3;
  transform-origin: top center;
}

.transform {
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  -ms-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
#doc {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  position: absolute;
  display: inline-block;
  margin: 0 auto;
  left: 150px;
  right: 0;
  z-index: 1;
  top: 75px;
}

.foldy {
  animation-name: foldUp;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

@keyframes foldUp {
  0% {
    transform: rotateX(0deg);
  }
  30% {
    transform: rotateX(180deg);
    z-index: 0;
  }
  70% {
    transform: rotateX(180deg);
  }
}

.gone {
  animation-name: goneLeft;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}

@keyframes goneLeft {
  0% {
    top: 75px;
  }
  20% {
    top: -170px;
  }
  30% {
    top: -170px;
    left: 180px;
  }
  50% {
    top: -170px;
    left: -200px;
  }
  60% {
    top: -170px;
  }
  100% {
    top: -170px;
    left: 200%;
  }
}

.button-2 {
  position: relative;
  display: block;
  padding: 16px 32px;
  text-decoration: none;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: #eee;
  color: black;
  border: 2px solid 0060ff;
  margin: 0 auto;
  left: 0px;
  right: 0px;
  top: 200px;
  transform: scale(1);
}

.button-2:hover {
  background-color: 0060ff;
  color: white;
}

button:focus {
  outline: 0;
}

button:active {
  outline: 0;
  transform: scale(0.85);
}
#svgContainer {
  max-width: 100%;
  max-height: 100%;
  background-image: linear-gradient(70deg, #f0f0f0 10%, #ffffff 100%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

#svgContainer svg {
  width: 20% !important;
}

.datePicker-tailwind-css button {
  margin: 0 5px !important;
  transform: scale(0.9em);
  margin-left: 2px;
}
.datePicker-tailwind-css button:disabled {
  background: #e0e0e0 !important;
  border: 2px solid white !important;
  color: rgb(188, 186, 186) !important;
  text-decoration: none;
  border-radius: 50%;

  transition: box-shadow 0.2s ease-in-out;
  outline: none;
}
/* .rbc-month-view {
  border-bottom: 1px solid #ddd !important;
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-top: none !important;
  padding: 0px 10px !important;
} */
.rbc-month-header {
  border-left: 1px solid #ddd !important;
  border-right: 1px solid #ddd !important;
  border-top: 1px solid #ddd !important;
}
.hell {
  background-color: #0060ff;
}

/* Animated Shape */

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background-color: #ff3cac;
  background-image: linear-gradient(
    225deg,
    #ff3cac 0%,
    #784ba0 50%,
    #2b86c5 100%
  );
  animation: animateimages 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animateimages {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
#map {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
.leaflet-marker-icon {
  width: 40px !important;
}
.wrap {
  width: 100%;
  height: 188px;
  position: absolute;
  top: -8px;
  left: 8px;
  overflow: hidden;
}
.wrap:before,
.wrap:after {
  content: "";
  position: absolute;
}
.wrap:before {
  width: 40px;
  height: 8px;
  right: 100px;
  background: #536a8f;
  border-radius: 8px 8px 0px 0px;
}
.wrap:after {
  width: 8px;
  height: 40px;
  right: 0px;
  top: 100px;
  background: #536a8f;
  border-radius: 0px 8px 8px 0px;
}
.ribbon6 {
  width: 200px;
  height: 40px;
  line-height: 40px;
  position: absolute;
  top: 30px;
  right: -50px;
  z-index: 2;
  overflow: hidden;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  border: 1px dashed;
  box-shadow: 0 0 0 3px #3b82f6, 0px 21px 5px -18px rgba(0, 0, 0, 0.6);
  background: #3b82f6;
  text-align: center;
}
.tag {
  display: block;
  padding: 8px 14px;
  position: absolute;
  right: -14px;
  top: 89px;
  background-color: #3b82f6;
  color: white;
  border-top-right-radius: 7px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.tag::after {
  display: block;
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  background-color: #3b82f6;
  right: 0;
  bottom: -14px;
  border-bottom-right-radius: 14px;
}
